../Vinotronics/CPCWS_Rating_DotNet_Samples/REST/rating/.vs/rating/xs/UserPrefs.xml
../Vinotronics/Vinotronics/Mocks/Order/B2B/GetOrderInformationResponse.json
../Vinotronics/Vinotronics/Mocks/Order/USA/GetOrderInformationResponse.json
../Vinotronics/Vinotronics/Mocks/settings.json
../Vinotronics/Vinotronics/Program.cs
../Vinotronics/Vinotronics/Startup.cs
../Vinotronics/Vinotronics/bin/Debug/netcoreapp3.1/Mocks/Order/B2B/GetOrderInformationResponse.json
../Vinotronics/Vinotronics/bin/Debug/netcoreapp3.1/Mocks/Order/USA/GetOrderInformationResponse.json
../Vinotronics/Vinotronics/bin/Debug/netcoreapp3.1/Vinotronics.dll
../Vinotronics/Vinotronics/bin/Debug/netcoreapp3.1/Vinotronics.pdb
../Vinotronics/Vinotronics/bin/Debug/netcoreapp3.1/configCAN_JSON.json
../Vinotronics/Vinotronics/bin/Debug/netcoreapp3.1/configCAN_XML.json
../Vinotronics/Vinotronics/bin/Debug/netcoreapp3.1/configUSA_XML.json
../Vinotronics/Vinotronics/configCAN_JSON.json
../Vinotronics/Vinotronics/configCAN_XML.json
../Vinotronics/Vinotronics/configUSA_XML.json
../Vinotronics/Vinotronics/obj/Debug/netcoreapp3.1/Vinotronics.csprojAssemblyReference.cache
../Vinotronics/Vinotronics/obj/Debug/netcoreapp3.1/Vinotronics.dll
../Vinotronics/Vinotronics/obj/Debug/netcoreapp3.1/Vinotronics.pdb
../nextbee/comp.py
../.DS_Store
../.RData
../.Rhistory
../.localized
../ALBUMS/
.DS_Store
day2/.gitignore
../Canada post.mov
../Coding tricks/
../Gym/
../High School/
../Personal_Projects/
../PyCharm.app/
../Screen Shot 2020-12-02 at 11.03.42 AM.png
../Sublime Text.app/
../TV/
../Test/
../UNIVERSITY/
../VLC.app/
../Vinotronics/.DS_Store
../Vinotronics/.vs/
../WORK/
../auth.mov
../bird.jpg
../image-1606765526684
../image-1606766200974
../newegg.mov
../nits.jpeg
../swim-instructor-may-5-6-2018_orig.jpg
../upload.mov
